{% extends "payroll/base.html" %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
        <h5><a class="article-title" href="#">Monthly Salary Details </a></h5>
        <h6><a class="article-title" href="#">Gross Salary </a></h6>
        <p>Gross Salary : {{ gross_salary }}</p>
        <p>Salary deduction  : {{ deduction }}</p>
        <h6>Net Salary  : {{ netsal }}</h6>
        <p>Deduction reason  : {{ deduction_reason }}</p>
        <h6><a class="article-title" href="#">Bank details</a></h6>
        <p>Account Number : {{ accountno }}</p>
        <p>IFSC code : {{ ifsc }}</p>
        <p>Bank Name  : {{ bankname }}</p>
        
        </div>
    </article>

{% endblock content %}

{% block head %}
<div class="content-section">
  <h3 style="justify-content: center;">Announcements</h3>
  {% block anmts %}
  <ul class="list-group">
  {% for i in announcements %}                
  <li class="list-group-item list-group-item-light">
    <div>
      <h5>{{i.content}}</h5>
      {{i.getdate}}
    </div>
  </li>
  {% endfor %}
  
  
</ul>
{% endblock anmts %}

</div>
{% endblock head %}